{% extends "layouts.main" %}
{% block content %}
    {% if (auth_check()) %}
        <div class="row col-md-2">
            <a href="{{ route('quotes.create') }}" class="button-add-quote-link btn btn-success">Добавить цитату</a>
        </div>
    {% endif %}
    <h2 class="text-center">Список цитат</h2>
    <div class="row col-md-2 filter-by-source-wrapper">
        <select class="form-select" name="source" id="source-filter">
            <option></option>
            {% for item in dropdownData %}
                <option {% if app.request.get('source') == item %}selected{% endif %}  value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="list-quotes">
        {% include ('quotes.list') %}
    </div>

    <div class="modal fade" id="modal-share-quote" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'share-quote._form' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
