.main-menu {
    margin-bottom: 15px;
}

.form-errors-list {
    margin-bottom: 0;
}

.buttons-user-auth {
    margin-left: 10px;
}

.quote-text {
    white-space: pre-line;
}

.button-add-quote-link {
    margin-bottom: 10px;
}

.button-manage-quote-link {
    text-decoration: none;
}

.button-manage-quote-link:hover {
    color: white;
}

.filter-by-source-wrapper {
    margin-bottom: 10px;
}

#list-quotes {
    padding: 0;
}

.share-quote-btn:hover {
    cursor: pointer;
}
