{% extends "layouts.main" %}
{% block title %}Редактировать цитату{%endblock%}

{% block content %}
    <h2 class="text-center">Редактировать цитату</h2>
    {% include "quotes._form" %}
{% endblock %}
